*
{
  box-sizing: border-box;
}
body{
    margin: 0;
     padding: 0;
     background-color: #000;
     color: #fff;
        }
  :root {
          --clr: #fff;
          --font: 'poppins', sans-serif;
       }
        button {
          outline: none;
          width: 200px;
          height: 60px;
          background-color: inherit;
          border: 2px solid #ef9309;
          border-radius: 50px;
          font-size: 24px;
          text-transform: capitalize;
        }
        button a{
          text-decoration: none;
          color: var(--clr);
          letter-spacing: 1px;
        }
        .card{
          padding: 0 1rem;
          margin: 3rem auto;
          border: 1px solid #fff;
          border-radius: 12px;
          width: 400px;
          height: 450px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;

             }
             #login{
              width: 250px;
              display: flex;
              justify-content: space-between;
              align-items: center;
             }
             #login a{
              color: #fff;
              text-decoration: none;
             }
             #signup a:hover{
              text-decoration: underline ;
              transition:ease-in-out 800ms;
             }
             #signup{
              display: flex;
              flex-direction: column;
              justify-content: space-evenly;
              align-items:center;
              height: 300px;
              width: 100%;
             }
            #signup p{
             text-transform: capitalize;
             display: flex;
             width: 100%;
             justify-content: space-between;
              font-size: 16px;
              line-height: 35px;
            }
            section p input{
              padding: 7px;
              background-color: #000;
              border: 2px solid #ef9309;
              border-radius: 7px;
              display: flex;
              align-items: flex-end;
            }
            input[type=text]{
              color: var(--clr);
              font-family: var(--font);
            }
             #signup button a{
               text-decoration: none;
               color: #fff;
              }


