body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}
:root {
  --clr: #fff;
  --font: "poppins", sans-serif;
}
button {
  width: 10rem;
  height: fit-content;
  padding: 0.5rem;
  background-color: inherit;
  border: 2px solid #ef9309;
  border-radius: 50px;
  font-size: 24px;
  text-transform: capitalize;
}
.nav-bar {
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px 0.5 #333;
  flex-direction: column;
  font-family: " poppins", sans-serif;
  background-color: #333;
  z-index: 1;
}
.nav-bar img {
  margin-right: auto;
  width: 50px;
  height: 100%;
  border-radius: 50%;
}
footer {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
footer #icons {
  margin-left: auto;
  width: 210px;
  display: flex;
  justify-content: space-evenly;
  font-family: var(--font);
  text-transform: capitalize;
}
footer #icons a {
  text-decoration: none;
  color: #fff;
}
hr {
  width: 50px;
}
section {
  font-family: var(--font);
}
@media only screen and (min-width: 360px) {
  section {
    padding: 2rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  section img {
    width: 300px;
    height: auto;
  }
  section #about {
    max-width: 100%;
    font-family: var(--font);
    justify-content: center;
    align-items: center;
  }
  section #about h1 {
    text-transform: capitalize;
  }
  section #experience {
    max-width: 100%;
    font-family: var(--font);
  }
  section #experience h4 {
    color: #ef9309;
  }
  section #btn a {
    text-decoration: none;
    color: #fff;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  section {
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  .section-about {
    max-width: 30rem;
  }
}
