*{
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: #000;
    font-family: var(--font);
    color: #fff;
    overflow: hidden;
  }
  :root {
    --clr: #fff;
    --font: 'poppins', sans-serif;
  }
  #name img{
    border-radius: 50%;
    width: 25px;
    height: 100%;
  }
 #name p{
  font-family: var(--font);
  text-transform: capitalize;
  font-weight: lighter;
 }
 #logout{
  padding: 0;
  width: 100%;
 }
 #logout a:hover{
  width: 100%;
  text-decoration: underline;
}
  .footer button{
    display: block;
    position: absolute;
    font-size: 18px;
    top: 5rem;
    left: 0;
   }
 #footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 10px;
  padding: 0 5px;
  border-bottom: 1px solid #333;
  max-width: 100%;
  height: 40px;
}
 #footer p {
  align-items: center;
  font-size: 18px;
  height: 100%;
 }
 #footer p a{
  height: 100%;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--clr);
  padding: 17px;

 }
 #footer p a:hover{
  border-bottom: 2px solid #fff;
  transition: all ease-in-out;
 }
 .box{
 margin: 0 1rem;
 max-width: 100%;
 height:400px;
 font-family: var(--font);
 border-radius: 5px;
 background-color: #fff;
 box-shadow: -5px 5px 5px rgba(255, 255, 255, .3);
 color: #000;
 }
 .box-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .box-1 h2{
    width: 100%;
    padding: 10px 0;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 1px solid #333;
 }
 #input input{
    background-color: whitesmoke;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 7px;
    color: black;
 }
 .box-1 input::placeholder{
    color: black;
    font-family: var(--font);
  }
  #input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    width: 80%;
    padding: 10px 0;
    height: 100%;
}
#input #jet{
  width: 200px;
  display: flex;
  justify-content: center;
  background-color: white;
  border:1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  text-transform: capitalize;
  color: black;
}
#input #jet:hover{
  background-color: #6f4405;
  color: #fff;
  transition: 500ms ease-in-out;
}
#input h3{
     margin-top: 1rem;
     padding-top: .3rem;
     text-transform: capitalize;
     font-weight: lighter;
}

  /* mobile styles starts here */
  @media only screen and (min-width: 360px){
    .nav-bar {
      position: sticky;
      width: 100%;
      height:fit-content;
      top: 0;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      justify-content: center;
      align-items: flex-start;
      background-color: #333;
      z-index: 1;
      overflow: hidden;
    }
    #dashboard{
       display: flex;
       justify-content: space-between;
       width: 200px;
       align-items: center;

    }
    #dashboard img{
     width: 50px;
     height: 100%;
     border-radius: 50%;
    }
    #dashboard h1{
      font-family: var(--font);
      font-size: 16px;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
    }
  .topnav{
    padding-left: 0.6rem;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items:center ;
  }
  .topnav #menu{
    display: none;
  }
   .topnav a {
    display: block;
    text-transform: capitalize;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
  }
  .topnav  a.icon{
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .nav-bar .inputContainer{
    overflow-x: hidden;
    display: flex;
    padding: 1rem 0;
    align-items: center;
    width: 250px;
  }
  #menu .inputContainer i{
    text-align:center;
    position: absolute;
    transform: rotate(90deg);
  }
  #field{
    border:none;
    border-radius: 40px;
    background: #B1B6B8;
    width: 100%;
    height:30px;
    padding-left: 40px;
    outline: none;
  }
  .icon {
    width: 45px;
    text-align: left;
    color:black;
    opacity: 1;
  }
     input::placeholder{
      font-family: var(--font);
      color: #fff;
    }
    }
    /* mobile styles ends here */
    
/* laptop and desktop styles starts here */
@media only screen and (min-width:768px)
and (max-width:1440px) {
  .nav-bar{
    display: flex;
    align-items: center;
  }
  #dashboard{
    margin-right: auto;
  }
  .nav-bar .topnav{
    display: flex;
    width: 70%;
    height: 100%;
    justify-content: space-between;
    position: absolute;
    right: 0;
  }
  .nav-bar .topnav #menu{
    justify-content: space-between;
    align-items: center;
    width:100%;
    display: flex;
    flex-direction: row;
  }
  .topnav a{
    display: flex;
    justify-content: space-between;
  }
  .topnav .inputContainer{
    width: 300px;
  }
  .topnav a.icon{
    display: none;
  }
  #name{
    width: 200px;
    justify-content: space-around;
    display: flex;
    align-items: center;
  }
  .topnav #menu #logout{
    width: fit-content;
  }
    footer{
      display: flex;
      flex-direction: row;
      max-width: 100%;
      height: 100%;
      padding-top: 3rem;
    }
    .footer {
      width: 190px;
      height: 30rem;
      background-color: #6f4405;
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      border-top-right-radius: 20px;
    }
    #footer{
      display:flex;
      flex-direction: column;
      align-items: flex-end;
      border-bottom: none;
      width: 190px;
      height: 50%;
    }
   #footer p {
       width: 100%;
       display: flex;
       justify-content: space-evenly;
    }
    .box{
     margin: 0 auto;
     height: 500px;
     width: 800px;
    }
    #footer p a:hover{
      border:none;
     }
}
/* laptop and desktop styles ends here */