* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #000;
  color: #fff;
  font-family: var(--font);
  text-transform: capitalize;
}
:root {
  --clr: #fff;
  --font: arial;
}
#name img {
  border-radius: 50%;
  width: 25px;
  height: 100%;
}
#logout:hover{
  background-color: #000;
  border-bottom: 1px solid #fff;
}
@media only screen and (min-width: 360px) {
  .nav-bar {
    position: sticky;
    width: 100%;
    height: fit-content;
    top: 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    align-items: flex-start;
    background-color: #333;
    z-index: 1;
    overflow: hidden;
  }
  #dashboard {
    display: flex;
    justify-content: space-between;
    width:85%;
    align-items: center;
  }
  #dashboard .inputContainer {
    overflow-x: hidden;
    display: flex;
    padding: 1rem 0;
    align-items: center;
    width: 60%;
  }

  #dashboard .inputContainer i {
    text-align: center;
    position: absolute;
    transform: rotate(90deg);
  }

  #field {
    border: none;
    margin-left: auto;
    border-radius: 40px;
    background: #b1b6b8;
    width: 100%;
    height: 30px;
    padding-left: 40px;
    outline: none;
  }
  #dashboard img {
    width: 50px;
    height: 100%;
    border-radius: 50%;
  }
  #dashboard h1 {
    font-family: var(--font);
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: none;
  }
  .topnav {
    margin-top: .8rem;
    height: fit-content;
    width: 100%;
    align-items: center;
    overflow: hidden;
  }
  .topnav #menu {
    display: none;
  }
 #name{
    padding: .2rem 0;
    margin: 0 .8rem;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #logout{
    padding: .2rem 0;
  }
  .topnav a {
    display: block;
    text-transform: capitalize;
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
  }
  .topnav a.icon {
    display: block;
    height: 100%;
    position: absolute;
    font-size: 2rem;
    top: 0;
    right: 0;
  }
  .icon {
    width: 45px;
    text-align: left;
    color: black;
    opacity: 1;
  }
  input::placeholder {
    font-family: var(--font);
    color: #fff;
  }
  .footer button {
    display: block;
    position: absolute;
    font-size: 18px;
    top: 5rem;
    left: 0;
  }
  #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.3rem 0;
    padding: 0 5px;
    border-bottom: 1px solid #333;
    width: 100%;
    height: 40px;
  }
  #footer p {
    align-items: center;
    font-size: 18px;
    height: 100%;
  }
  #footer p a {
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--clr);
  }
  table td {
    border-bottom: 1px solid #6f4405;
    padding-left: 1rem;
  }
}
.over-view {
  padding: 0 .3rem;
  margin: 0 auto;
  max-width: 100%;
  height: 500px;
  flex-direction: row;
}
.over-view #overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: .2rem;
  height: fit-content;
  border-bottom: 1px solid #333;
}
.over-view #overview #btn {
  display: flex;
  font-family: var(--font);
  width: 30%;
}
.over-view #overview #btn button {
  display: flex;
  justify-content: space-evenly;
  border-radius: 2px;
  border: none;
  width: 70px;
  padding: 10px;
}
.over-view #overview #btn button:first-child {
  background-color: #0ce415;
  text-transform: capitalize;
  color: var(--clr);
}
button i {
  font-size: 28px;
}
table {
  border-collapse: collapse;
  max-width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: var(--font);
}

table tr th {
  text-transform: capitalize;
  font-size: 24px;
  max-width: max-content;
}
.over-view #controls {
  float: right;
  margin-top: 20px;
  display: flex;
  width: 200px;
  justify-content: space-between;
}
.over-view #controls p {
  width: 25px;
  height: 30px;
  padding: 6px;
  background-color: #6f4405;
}
.over-view #controls p:nth-child(3) {
  background-color: #000;
  color: #6f4405;
}
.over-view #controls i {
  width: 30px;
  height: 30px;
  border: 1px solid #6f4405;
  border-radius: 50%;
  color: #6f4405;
  font-size: 16px;
  padding: 7px;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .nav-bar {
    display: flex;
    align-items: center;
  }
  #dashboard {
    margin-right: auto;
    width: 60%;
  }
  #dashboard h1 {
    font-family: var(--font);
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: flex;
  }
  .nav-bar .topnav {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: space-between;
    position: absolute;
    right: 0;
  }
  .nav-bar .topnav #menu {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .topnav a {
    display: flex;
    justify-content: space-between;
  }
  .topnav .inputContainer {
    width: 300px;
  }
  .topnav a.icon {
    display: none;
  }
  #name {
    width: 200px;
    justify-content: space-around;
    display: flex;
    align-items: center;
    border: none;
  }
  #logout{
    height: 100%;
    padding: .6rem 0;
  }
  .topnav #menu #logout {
    width: fit-content;
  }
  footer {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 100%;
    padding-top: 2rem;

  }
  .footer{
    width: 190px;
    height:30rem ;
    background-color: #6f4405;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top-right-radius: 20px;
  }
  #footer {
    align-items: flex-end;
    max-width: 100%;
    height:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: none;
  }
  table td {
    border-bottom: 1px solid #6f4405;
    padding: 50px;
  }
  .over-view{
    width: 70%;
    border: 1px solid #fff;
    border-radius: 20px;
    height: max-content;
    padding: .8rem;
  }
  table{
    width: 100%;
    max-height: 100%;
  }
}
