table td #btn button{
    border-radius: 2px;
    border: none;
    width:fit-content;
    padding: 5px;
  }
  table td #btn button:first-child{
    background-color: #F36D6D;
   text-transform: capitalize;
  color: var(--clr);
  }
   #btn button:nth-child(2){
     text-transform: capitalize;
     color: var(--clr);
  }
  td{
    font-size: 12px;
  }
