table td #btn button {
  border-radius: 2px;
  border: none;
  width: fit-content;
  text-transform: capitalize;
  background-color: #bb2525;
  color: #fff;
  padding: .5rem;
  cursor: pointer;
}
table td #btn button:hover{
  background-color: #f36d6d;
  transition: .3s ease-in-out;
}
table td #btn button:first-child{
  margin-right: .5rem;
  background-color: #fff;
  color: black;
}
#btn {
  display: flex;
  justify-content: space-between;
  width: 90px;
}

#button{
  color: white;
  background-color: #bb2525;
  padding: 5px;
  text-transform: capitalize;
}
#overview button {
  margin-left: auto;
  background-color: rgb(59, 112, 5);
  padding: 5px;
  border: none;
  outline: none;
}
#overview {
  height: 40px;
}
#overview button a {
  text-decoration: none;
  color: white;
}
td i{
  color: red;
}
