table td #btn button {
  border-radius: 2px;
  border: none;
  width: fit-content;
  padding: 3px;
}
#btn {
  display: flex;
  justify-content: space-between;
  width: 90px;
}
table td #btn button:first-child {
  background-color: var(--clr);
  text-transform: capitalize;
  color: #000;
}
#btn button:nth-child(2) {
  background-color: #f36d6d;
  text-transform: capitalize;
  color: var(--clr);
}
#overview button {
  margin-left: auto;
  background-color: rgb(59, 112, 5);
  padding: 5px;
  border: none;
  outline: none;
}
#overview {
  height: 40px;
}
#overview button a {
  text-decoration: none;
  color: white;
}
td i{
  color: red;
}
