table td #btn button {
  border-radius: 2px;
  border: none;
  width: fit-content;
  padding: 0.5rem;
  margin-left: auto;
  background-color: red;
  color: #fff;
}
table td #btn button:hover {
  background-color: rgb(214, 56, 56);
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
td i {
  font-size: 16px;
}
