table td #btn button {
  border-radius: 2px;
  border: none;
  width: fit-content;
  padding: 0.2rem;
}
table td #btn button:first-child {
  background-color: #0ce415;
  text-transform: capitalize;
  color: var(--clr);
}
#btn button:nth-child(2) {
  background-color: #f36d6d;
  text-transform: capitalize;
  color: var(--clr);
}
table tr th {
  text-transform: capitalize;
  font-size: 24px;
}
td i {
  font-size: 16px;
}
